SECRET_KEY=your-super-secret-key-change-this-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

DATABASE_NAME=sync_in_realtime
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_USER=root
DATABASE_PASSWORD=your_mysql_password

OPENAI_API_KEY=your_openai_api_key_here
OPEN_API_KEY=your_openai_api_key_here


Database_URI=your_mongodb_connection_uri
